<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Document</title>
</head>
<body>
    <div id="preloader">
        <div id="loader"></div>
    </div>

    <div class="container" style="padding: 20px;">
        <form action="" method="POST" enctype="multipart/form-data">
            <input id="my_btn" type="submit">
        </form>
    </div>

    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>